@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/claris-sans");
@import url("https://fonts.cdnfonts.com/css/gryphon-rock");

@font-face {
  font-family: "Camar";
  src: url("../assets/fonts/Camar.otf");
}

:root {
  --PCL-blue: rgb(83, 143, 251);
  --PCL-purple: rgb(121, 97, 252);
  --PCL-purple-dark: rgb(69, 48, 190);
  --PCL-green: rgb(97, 252, 149);
  --PCL-green-dark: rgb(21, 170, 71);
  --PCL-red: rgb(234, 67, 53);

  --NCL-black: rgb(0, 0, 0);
  --NCL-white: rgb(255, 255, 255);

  --GRD-blue-purple: linear-gradient(
    135deg,
    var(--PCL-blue) 30%,
    var(--PCL-purple)
  );

  --FF-urbanist: "Urbanist", sans-serif;
  --FF-camar: "Camar", sans-serif;
  --FF-gryphon: "Gryphon Rock", sans-serif;
  --FF-claris-sans: "Claris Sans", sans-serif;

  --FS-title: 2.7rem;
  --FS-description: 1.3rem;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  transition: 0.1s;
}

body {
  background-color: var(--NCL-black);
  margin: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: var(--NCL-white);
}

main > section {
  padding: 3vh;
  margin: 3vh 0;
  width: 100%;
  color: var(--NCL-white);
}

p {
  line-height: 1.5;
  font-family: var(--FF-urbanist);
  font-size: var(--FS-description);
}

/* GENERAL STYLES */

.text-center{
  text-align: center;
}

.text-blue {
  color: var(--PCL-blue);
}

.text-purple {
  color: var(--PCL-purple);
}

.text-green {
  color: var(--PCL-green);
}

.text-black{
  color: var(--NCL-black);
}

.font-bold {
  font-weight: 700;
}

.project {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--PCL-purple-dark);
  mix-blend-mode: hue;
}

.overlay-black {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--NCL-black);
  mix-blend-mode: hue;
  transition: 0.2s;
}

.overlay-black:hover {
  background: var(--NCL-black);
  opacity: 0;
}

.content {
  display: grid;
  grid-auto-flow: row;
  width: 100%;
}

.size-title {
  font-size: var(--FS-title);
  font-family: var(--FF-gryphon);
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 400;
  margin: 1rem 0;
}

.primary-button {
  background: var(--PCL-purple-dark);
  font-family: var(--FF-urbanist);
  display: inline-block;
  letter-spacing: 0.15rem;
  margin: 1rem 0;
  padding: 1rem;
  font-weight: bold;
  width: 10rem;
  text-transform: uppercase;
  text-align: center;
}

.flex-column {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background-color: var(--NCL-black);
  font-size: var(--FS-subtitle) !important;
}

.background-light-green {
  background-color: var(--PCL-green);
}

.background-green {
  background-color: var(--PCL-green-dark);
}

.background-red {
  background-color: var(--PCL-red);
}

.background-purple{
  background-color: var(--PCL-purple-dark);
}


/* HEADER */

header {
  padding: 3vh;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: min(42%, 180px);
}

.navbar-toggle {
  flex: 2;
  display: inherit;
  justify-content: flex-end;
  cursor: pointer;
  color: var(--NCL-white);
  font-size: 1.75rem;
  z-index: 100;
}

.navbar-list {
  display: none;
  list-style: none;
  font-family: var(--FF-urbanist);
  font-weight: bold;
  padding-left: 0;
  color: var(--NCL-white);
}

.navbar-list li {
  margin: 1.5rem;
  font-size: 1.3rem;
}

.navbar-list li a:hover {
  color: var(--PCL-purple);
}

/* MAIN */

main {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
}

/* CONTACTS SECTION */

.contact-cards {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
}

.contact-cards .contact-button {
  text-align: center;
  margin: 0.5rem auto;
  display: inherit;
  grid-auto-flow: column;
  grid-auto-columns: 2rem 1fr;
  place-items: center;
  font-size: var(--FS-description);
  font-family: var(--FF-urbanist);
  font-weight: bold;
  padding: 1rem;
  width: 16rem;
}

/* PROJECTS SECTION */

#projects-section .content .projects{
  display: grid;
  gap: 1rem;
}

#projects-section .content .projects img{
  max-height: 40rem;
}

.projects .digital-cards, .projects .websites{
  display: grid;
  gap: 1rem;
}

/* DESKTOP VERSION */

@media (min-width: 950px) {
  .navbar {
    justify-content: space-between;
  }

  .project-image{
    height: 100%;
  }

  main > section {
    padding: 15vh;
    margin: 3vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header {
    padding: 3vh 15vh;
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .navbar-toggle {
    display: none;
  }

  nav {
    flex: 2;
  }

  .navbar-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: initial;
    font-size: var(--FS-description);
    background-color: transparent;
  }

  .picture{
    width: 100%;
    height: 100%;
  }

  .content {
    grid-auto-flow: column;
    grid-template-columns: 45% auto;
    place-items: center;
    gap: 5vw;
  }

  section img {
    max-height: 30rem;
  }

  section > .primary-button:hover {
    background: var(--NCL-white);
    color: var(--NCL-black);
  }

  #about-section a:hover, #project-section a:hover{
    background: var(--NCL-white);
    color: var(--NCL-black);
  }

  .contact-cards .contact-button:hover {
    background: var(--NCL-white);
    color: var(--NCL-black);
  }

  #projects-section .content{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: none;
    text-align: center;
  }

  .projects .digital-cards, .projects .websites{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
